html, body
{
    height: 100%;
}

html {  background-color: #edeef2; }

#wrapper
{
    background-color: #556171;
    min-height: 100%;
    width: 960px;
    margin: 0 auto;
}

.section
{
    clear: both;
    float: left;
    width: 100%;
}

.light {
    width: 20px;
    height: 20px;
    background-color: #000;
    float: left;
    margin: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.sampler-step .light {
    float: none;
    display: block;
    margin: 0 auto 10px auto;
}

.light.light-on {
    background-color: #b9c0c6;
}

.controls-button {
    float: left;
    width: 100px;
    height: 30px;
    margin: 0 5px;
    background-color: #edeef2;
    text-align: center;
    line-height: 30px;
}

.control-active {
    background-color: #9b9b9b;
}

#sampler-container {
    width: 800px;
    float: left;
    margin-bottom: 20px;
    margin: 0 0 20px 80px;
}

.sampler-step {
    float: left;
    padding: 5px;
}

#sampler-container .sampler-step:nth-of-type(4n+1) {
    background-color: #617584;
}

.sample-pad {
    width: 40px;
    height: 40px;
    background-color: #000;
    display: block;
    margin-bottom: 10px;
}

.sampler-step .sample-pad:last-of-type {
    margin-bottom: 0;
}

.active-sample {
    background-color: #a1a1a1;
}




